/* Reseting the default styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{

    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    

    font-family: sans-serif;
    background-image: linear-gradient(#0369a1,#7dd3fc);




}

/* title of the clock */

.title-heading{

    text-transform: uppercase;
    letter-spacing: 5px;

    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,1);
    

   
}

/* main clock */

.clock-container{
    display: flex;

    /* position: relative; */
   
}

.clock-container div{
  

    margin: 5px;
    position: relative;
}

.clock-container span{
    height: 80px;
    width: 120px;
    /* padding: 2rem; */

 
    background: slateblue;
    opacity: 0.5;

  

    display: flex;
    
    justify-content: center;
    align-items: center;
    

    font-size: 50px;
    color: white;
    

    text-shadow: 2px 2px 4px rgba(0,0,0,1);
    
} 


.clock-container .text{
    height: 30px;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing:2px;
    background-color: darkblue;
    opacity: 0.6;
}

    
.clock-container .AM-PM-text{
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 50px;
    font-size: 18px;
    background-color: 
    #34d399;
    color: rgb(253, 253, 253);

    opacity: 0.8;
    text-shadow: 2px 2px 9px rgba(0,0,0,0.8);
    
    
}







